.home{
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(45deg, var(--var1), var(--var2)); */
}
.home .body-info{
    display: flex;
}
.home-info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6.5rem 0 6rem;
    margin-bottom: 5rem;
    gap: 2rem;
    overflow: hidden;
    /* background-image: linear-gradient(45deg, var(--var1), var(--var2)); */
    /* color: black; */
}
.home-info::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: rgb(65, 247, 183); */
    background-image: linear-gradient(45deg, var(--var1), var(--var2));
    transform-origin: bottom;
    transform: translateX(0%) scale(2);
    z-index: -9999;
}
.home-info .textomimage{
    /* position: absolute; */
    top: 4rem;
    font-size: 60px;
    color: var(--drawertext);
    letter-spacing: 2px;
    font-family: 'Braah One', sans-serif;
    letter-spacing: 5px;
}
.textomimage2{
    top: 18rem;
    font-size: 20px;
    width: 80%;
    text-align: left;
    color: var(--texton2);
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-link{
    width: 15%;
    text-align: center;
    padding: 15px 30px;
    border: 2px;
    font-size: 20px;
    border-radius: 25px;
    z-index: 999;
    background-color: #8dffc6;
    /* border: 2px solid #009432; */
    transition: 0.5s;
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 999;
    margin-top: 2rem;
}
.btn-link:hover{
    cursor: pointer;
    padding: 15px 40px 15px 20px;
}
.btn-link:after{
    position: absolute;
    content: "\f061";
    font: var(--fa-font-solid);
    /* font-family: "FontAwesome"; */
    top: 18px;
    right: -2rem;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    font-size: 24px;
}
.btn-link:hover::after{
    right: 3.5rem;
    top: 18px;
    visibility: visible;
    opacity: 1;
}
.body-info{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7rem 0rem;
    gap: 10rem;
    color: var(--text);
}
.body-info div{
    display: flex;
}
.odd{
    flex-direction: row-reverse;
    background-color: var(--cardbg);
}
.body-info-img{
    width: 25%;
    height: 50%;
    object-fit: contain;
    position: relative;
}
.body-info-img img{
    width: 100%;
    height: 100%;
}
.body-info-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    letter-spacing: 1.5px;
}

@media screen and (max-width:500px) {
    .home-info .textomimage{
        font-size: 35px;
        width: 65%;
        margin: auto;
    }
    .home-info .textomimage2{
        text-align: left;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .home-info::before{
        border-radius: 0%;
    }
    .btn-link{
        width: unset;
    }
    .btn-link:hover::after{
        right: 0.5rem;
    }
    .body-info{
        flex-direction: column;
        gap: 3rem;
        padding: 5rem 0rem;
    }
    .body-info-img{
        width: 80%;
        height: 100%;
        margin: auto;
    }
    .body-info-text{
        width: 90%;
        align-items: center;
        margin: auto;
    }
}

@media screen and (max-width:300px) {
    .home-info .textomimage{
        font-size: 16px;
    }
}

@media screen and (min-width:501px) and (max-width:768px){
    .home-info .textomimage{
        font-size: 40px;
    }
    .home-info .textomimage2{
        text-align: left;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .home-info::before{
        transform: translateX(0%) scale(4);
    }
    .btn-link{
        width: unset;
    }
    .btn-link:hover::after{
        right: 0.5rem;
    }
    .body-info{
        flex-direction: column;
        gap: 3rem;
        padding: 5rem 0rem;
    }
    .body-info-img{
        width: 60%;
        height: 100%;
        margin: auto;
    }
    .body-info-text{
        width: 70%;
        align-items: center;
        margin: auto;
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    .btn-link{
        width: unset;
    }
    .home-info .textomimage2{
        text-align: left;
        width: 95%;
    }
    .home-info::before{
        transform: translateX(-1%) scale(4);
    }
    .btn-link:hover::after{
        right: 0.5rem;
        top: 18px;
        visibility: visible;
        opacity: 1;
    }
    .body-info{
        gap: 4rem;
    }
    .body-info-img , .body-info-text{
        width: 40%;
    }
}