.navbar{
    /* position: fixed; */
    /* border-bottom: solid thin rgb(63, 63, 63); */
    padding: 7px 30px;
    /* background-color: rgb(235, 233, 233); */
    /* background-color: var(--navbg); */
    /* background-image: linear-gradient(45deg, var(--var1), var(--var2)); */
    background-image: linear-gradient(45deg, var(--navbg1), var(--navbg2));
    color: var(--text);
    /* position: fixed; */
    /* width: 100%; */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon .icon{
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
}
.menu-icon .icon:hover{
    background-color: var(--navshadow);
    border-radius: 50%;
}
.drawer{
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    width: unset;
    padding: 1rem 2rem;
    top: 0rem;
    background-color: var(--drawer);
    /* background-color: #44bd32; */
    align-items: center;
    z-index: 999;
}
.drawer-links{
    color: var(--drawertext);
    position: relative;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.linkss::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3%;
    left: 0;
    top: 5.2rem;
    background-color: var(--drawertext);
    transition: 0.5s;
}
.linkss:hover::before{
    width: 100%;
}
.linkss{
    position: relative;
    text-decoration: none;
    font-weight: bold;
    /* color: #10ac84; */
    color: black;
    transition: 0.5s;
}
.linkss:hover{
    cursor: pointer;
    color: #10ac84;
}
.hovering-box{
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding: 1px 2px;
    border-radius: 50%;
}
.hovering{
    width: 34px;
    height: 29px;
    display: flex;
    transition: 0.5s;
    margin-bottom: 0px;
}
.drawer-links:hover .hovering{
    transform: translateX(-89%);
}
.hovering .icon ,.hovering .icon-2{
    color: var(--drawertext);
    font-size: 30px;
}