/* CONTACT PAGE STYLING  */
.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    /* background: linear-gradient(to bottom, #50fc8f , #2ecc71); */
    background-image: linear-gradient(to left, #2ecc71 , rgba(255,0,0,0));
    /* padding-top: 4rem; */
}
.contact-image{
    position: relative;
    width: 45%;
    height: 100%;
}
.contact-image img{
    width: 100%;
    height: 100%;
}
.contact-form{
    box-sizing: border-box;
    border-radius: 3%;
    /* background-color: #05c46b; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1rem 0.5rem;
    /* border: 2px solid #fbf1f1; */
    /* box-shadow: 2px 2px 25px #70f5a1; */
}
.contact-form h4{
    font-size: 50px;
    color: var(--white);
}
.contact-form span{
    font-weight: bold;
    /* color: #0073e6; */
    /* font-size: 16px; */
    margin-bottom: 5px;
}
.contact-form input , textarea{
    border: solid thin rgb(210, 208, 208);
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.input{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.send-icon{
    width: 15%;
}
.send-icon:hover .send{
    background-color: #b9bbb7;
    cursor: pointer;
}
.send{
    width: 100%;
    padding: 6px 15px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    transition: all 0.5s;
}
.display1{
    visibility: visible;
    border: none;
    margin: unset;
    /* padding: 10px 20px; */
}

@media screen and (max-width:600px){
    .contact{
        display: unset;
        padding: unset;
    }
    .contact .contact-image{
        width: 80%;
        margin: 2rem auto 0;
    }
    .contact .contact-form{
        width: 100%;
        margin: 2rem auto;
        background-image: linear-gradient(to bottom, #2ecc71 , rgba(255,0,0,0));
        /* box-shadow: 2px 2px 25px #3e3e3e; */
    }
    .contact-form .input{
        width: 90%;
        margin: auto;
    }
    
    .send-icon{
        width: unset;
    }
}

@media screen and (max-width:750px){
    .contact{
        position: relative;
        /* bottom: 5rem; */
    }
    .contact-form input, textarea{
        padding: 5px;
        font-size: 16px;
    }
}

@media screen and (min-width:601px) and (max-width:1024px){
    .contact{
        display: unset;
        padding: unset;
    }
    .contact .contact-image{
        width: 80%;
        margin: 2rem auto 0;
    }
    .contact .contact-form{
        width: 90%;
        margin: 2rem auto;
        background-image: linear-gradient(to bottom, #2ecc71 , rgba(255,0,0,0));
        /* box-shadow: 2px 2px 25px #3e3e3e; */
    }
    .contact-form .input{
        width: 90%;
        margin: auto;
    }
    
}
