.footer{
    padding: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 25px 0px; */
    gap: 10px;
    color: var(--text);
    /* background-color: rgb(209, 209, 209); */
    /* background-color:var(--footerbg); */
    background-image: linear-gradient(45deg, var(--footerbg1), var(--footerbg2));
}
.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-link .links{
    position: relative;
    text-decoration: none;
    color: var(--text);
    transition: 0.5s;
}
.footer-link hr{
    width: 30%;
    height: 22px;
}
hr{
    width: 30%;
}
.footer-link .links::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    top: 24px;
    left: 0;
    background-color: var(--text);
    /* background-color:#2e53da; */
    transition: 0.3s ease-in-out;
}
.footer-link .links:hover:after{
    width: 100%;
}

@media screen and (max-width:750px){
    .footer{
        position: relative;
        /* bottom: 5rem; */
    }
}