@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
main{
  background-color: var(--bg);
}
:root{
  --navbg: rgb(218 211 211);
  --text: #0f0c0c; 
  --navshadow: #c3c3c3;
  --bg: rgb(241 241 241 / 1);
  --footerbg: #27ae60;
  --figcaption: dimgrey;
  --drawer: #e5e5e5;
  --drawertext: black;
  --drawericon: black;
  --textshadow: rgba(0,0,0,0.3);
}
[theme="dark"]{
  --navbg: rgb(14 20 27 / 1);
  --text: #efe1e1;
  --navshadow: #616161ad;
  --bg: #202021; 
  --footerbg: #345140;
  --figcaption: white;
  --drawer: rgb(14 20 27 / 1);
  --drawertext: white;
  --drawericon: #00ff1696;
  --textshadow: rgb(177 177 177 / 46%);
}
/* rgb(14 20 27 / 1) */
/* rgb(241 241 241 / 1) */
/* #36393e */ 
/* #f5fafa */