@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root{
  --navbg: background-color: rgb(235, 233, 233);
  --text: #0f0c0c; 
  --navshadow: #e6e5e5;
}
[theme="dark"]{
  --navbg: #0c0c0f;
  --text: #efe1e1;
  --navshadow: #414141ad;
}